html,
body {
    position: fixed;
    overflow: hidden;
    background-image: url('https://dabc.ballast-nedam.nl/assets/index_small.png');
    background-size: cover;
    background-attachment: fixed;
}
    body .mainwrapper {
        width: 100vw;
        height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
        overscroll-behavior: contain;
        font-size: xx-large;
    }