html,
body {
    position: fixed;
    overflow: hidden;
    background-image: url('https://dabc.ballast-nedam.nl/assets/index_small.png');
    background-size: cover;
    background-attachment: fixed;
}
    body .mainwrapper {
        width: 100vw;
        height: 100vh;  /*calc( 100vh - 15px);*/
        overflow-y: scroll;
        /*overflow-x: hidden;
        -webkit-overflow-scrolling: touch;*/ /* enables “momentum” (smooth) scrolling */
        /*overscroll-behavior: contain;*/
        font-size: xx-large;
    }